.results-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    transition: transform 0.5s ease; /* Add a transition for smooth movement */
}

.results-background-image {
    transition: transform 0.5s ease;
}

/* .shrink-image{
    transition: transform 0.5s ease;
} */

#results-background-image img {

    width: 105%;
    height: 100%;
    margin: 0; /* Reset margin */
    border: 0
}

#results-text-wrapper {
    width: 29rem;

}



@media screen and (max-width: 76.063rem) {

    .results-wrapper {
        gap: 0;
        padding-right: 2rem;
     
    }
    #results-background-image {
        transform: translateX(-20%); 
        /* width: 100%; */



    }
  }
